name: CD
on:
  pull_request:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: dekz/0x-main-infra
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v2.3.0
      with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "[0xApi] [staging] ${{ env.PULL_REQUEST_NUMBER }}"
          title: "[0xApi] [staging] ${{ env.PULL_REQUEST_NUMBER }}"
          reviewers: dekz
          labels: 0xApi, staging
          branch: 0xApi/staging/${{ env.PULL_REQUEST_NUMBER }}
